body {
	font-family: sans-serif;
}

.form {
	border: 1px solid #000;
    border-radius: 5px;
	padding: 3px 3px 3px 3px;
	width: 340px;
}

.form-group {
	border: none;
}

.title {
	margin: 5px 0 0;
}

p {
	margin-top: 10px;
	margin-bottom: 4px;
}

.label {
	display: block;
    border-radius: 5px;
}

.input{
    border-radius: 5px;
    border: 1px solid #000;
    width: 250px;
    height: 20px;
}

textarea {
	resize: vertical;
	max-height: 120px;
    min-height: 30px;
    border-radius: 5px;
    width: 250px;
}

.checkbox {
	cursor: pointer;
    padding-top: 10px ;
}

.f-message {
    padding-top: 0;
    padding-bottom: 3px ;
}

.message{
    margin-top: 0;
}

.button {
	cursor: pointer;
    width: 90px ;
    height:25px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: 16px;
}
