table{
    font-family: sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
}

td, th, caption{
    border: 1px solid #000;
}

caption{
    border-bottom: none;
}

thead, caption {
    font-weight: 700;
}

.red {
    color: red;
}