.article {
	padding-top: 80px;
	padding-bottom: 120px;
}

.article-title-medium {
	font-size: 36px;
}

.article-text {
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
}

.article-texe:last-child{
	margin-bottom: 0;
}

.article-mb-1 {
	margin-bottom: 80px;
}

.article-mb-2 {
	margin-bottom: 40px;
}

.article-decor-wrapper {
	position: relative;
}

.article-decor-wrapper::before {
	content: "";
	position: absolute;
	z-index: -1;
	background: url(../images/decor-icon.svg) no-repeat;
	width: 548px;
	height: 48px;
}

.article-decor-wrapper-1::before {
	left: -350px;
	top: 100px;
}

.article-decor-wrapper-2::before {
	right: -350px;
	bottom: 136px;
}

.article-img {
	width: 100%;
}

.article-list {
	margin-top: 0;
	padding-left: 16px;
}

.article-item::marker {
	color: #3596ed;
	font-size: 22px;
}

.article-item:not(:last-child) {
	margin-bottom: 12px;
}

.article-play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	width: 60px;
	padding: 0;
	border: none;
	border-radius: 50%;
	background-color: #3596ed;
	cursor: pointer;
}
