.hero {
	padding-top: 80px;
	position: relative;
}

.hero::after {
	content: "";
	position: absolute;
	bottom: 106px;
	z-index: -1;
	width: 100%;
	height: 48px;
	background: url(../images/decor-hero.svg) repeat-x;
}

.hero-container {
	display: flex;
	align-items: center;
	gap: 28px;
}

.hero h1 {
	margin-bottom: 40px;
	font-family: "Oswald", sans-serif;
	font-weight: 600;
	font-size: 62px;
	line-height: 115%;
	text-transform: uppercase;
	color: #2c332f;
}

.hero h1 strong {
	color: #3596ed;
	font-weight: 600;
}

.hero-content .text {
	max-width: 440px;
	margin-bottom: 140px;
}

.button-hero {
	display: inline-block;
	padding: 19px 32px;
	background-color: #3596ed;
	color: #fff;
	font-weight: 500;
	font-size: 15px;
	line-height: 130%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	text-align: center;
	transition: opacity 0.2s;
}

.button-hero:hover {
	opacity: 0.85;
}

.hero-images {
	position: relative;
	display: flex;
}

.hero-choose {
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	background-color: #ffffffe6;
	padding: 22px;
	border: 1px solid #535755;
	max-width: 161px;
	height: 86px;
}

.news-container {
	display: flex;
	gap: 28px;
}

.news-article {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border: 1px solid #d3cbd9;
	max-width: 284px;
	overflow: hidden;
}

.news-article img {
	display: block;
}

.news-info {
	padding: 20px 20px 0;
	margin-bottom: 12px;
}

.news-article footer {
	padding: 0 20px 20px;
	margin-top: auto;
}

.news-date {
	display: inline-block;
	margin-bottom: 8px;
}

.news-info-title {
	color: #2c332f;
}

.news-link {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #3596ed;
}

.news-link::after {
	content: "";
	display: inline-block;
	width: 22px;
	height: 9px;
	background-image: url(../images/arrow-right-icon.svg);
	transition: transform 0.2s;
}

.news-link:hover::after {
	transform: translateX(5px);
}
