* {
	box-sizing: border-box;
}

body {
	min-width: 375px;
	margin: 0;
}

.wrapper {
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.header {
	background-color: #f00;
	min-height: 100px;
	grid-column: 1 / 12 span;
}

.aside {
	background-color: #e2e20d;
	grid-column: 1 / 2 span;
}

.main {
	grid-column: 3 / 12 span;
	background-color: #31bb0a;
	padding-top: 30px;
	padding-bottom: 30px;
}

.article {
	background-color: #de6e05;
	min-height: 200px;
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	justify-content: center;
	gap: 10px;
	max-width: 1280px;
	height: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.footer {
	background-color: #0b2fe2;
	grid-column: 1 / 12 span;
	min-height: 250px;
}

@media (width <= 1200px) {
	.aside {
		grid-column: 1 / 3 span;
	}
	.main {
		grid-column: 4 / 12 span;
	}
	.container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (width <= 768px) {
	.aside {
		display: none;
	}
	.main {
		grid-column: 1 / 12 span;
	}
	.container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (width <= 532px) {
	.container {
		grid-template-columns: repeat(1, 1fr);
	}
}
