html {
	font-family: sans-serif;
}

body * {
	box-sizing: border-box;
}

.container {
	max-width: 1320px;
	padding: 15px;
	margin: 0 auto;
	border-bottom: 2px solid #a59d9dbe;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.header-logo {
	width: 45px;
	height: 45px;
	background-color: #000;
}

ul {
	padding: 10px;
	margin: 0;
	list-style: none;
}

.header-list {
	display: flex;
	gap: 20px;
}

a {
	color: #000;
}

.header-phone {
	outline: none;
	text-decoration: none;
	padding: 10px;
}
