* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50vw;
}

.form {
	border: 1px solid #000;
	border-radius: 6px;
	padding: 30px;
	max-width: 340px;
	width: 100%;
}

.form-group {
	border: none;
	padding: 0;
}

.form-group-title {
	font-weight: 700;
	padding: 0;
	margin-bottom: 15px;
}

.label {
	display: inline-block;
	margin-bottom: 10px;
}

.input,
.textarea {
	border: 1px solid #000;
	border-radius: 6px;
	width: 100%;
	padding: 5px 12px;
	margin-bottom: 20px;
	outline: none;
}

.input:disabled,
.textarea:disabled {
	opacity: 0.7;
}

.textarea {
	max-height: 150px;
	min-height: 30px;
	margin-top: 10px;
	resize: vertical;
}

.checkbox {
	position: absolute;
	outline: none;
	appearance: none;
}

.label-checkbox {
	padding-left: 22px;
}

.checkbox::after {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	margin-left: -22px;
	border: 1px solid #000;
	border-radius: 4px;
	cursor: pointer;
}

.checkbox:checked::after{
  background: url(../images/check-icon.svg) no-repeat center, #e120aa ;
}

.checkbox:disabled::after{
  opacity: 0.4;
  cursor: default;
}

.checkbox-text {
	font-size: 14px;
}

.button {
	cursor: pointer;
	padding: 6px 18px;
	margin-top: 15px;
	border: none;
	border-radius: 5px;
	background-color: #e120aa;
	color: #fff;
	transition: 0.2s;
}

.button:hover {
	opacity: 0.85;
}

.button:not(:disabled):active {
	background-color: #b11f88;
}

.button:disabled {
	opacity: 0.7;
	cursor: default;
}

.input:focus-visible,
.textarea:focus-visible,
.button:focus-visible,
.checkbox:focus-visible::after {
	outline: 2px solid #e120aa;
	outline-offset: 1px;
}
